.myFont{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.mysubfont{
    font-family: Arial, Helvetica, sans-serif !important;
    color: whitesmoke !important;
}
.myimg{
    width: 50% !important;
}
.myfooter{
    font-style: italic !important;
}